.my-logo {
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
}

.my-col-nav {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}
a {
  color: hotpink;
}

.my-header-text {
  font-size: 55px;
  font-family: "Britannic";
  font-weight: bold;
}

.my-header-text-sub {
  font-size: 19px;
  font-family: "Times New Roman";
}
